/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Inter";

  src: url("./inter/Inter-Medium-slnt0.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}